.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jp');
    background-size: cover;
  }

  .full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}